html body {
  width: 100%;
  margin: 0;
  font-family: 'Helvetica', serif;
  /*background-color: #1a1a1d;*/
  background-color: black;
}


/* Main Menu */
.menu {
  display: block;
  /*position: absolute;*/
  width: auto;
}


.menu ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #474B4F;*/
  /*color: black;*/
  /*text-decoration: none;*/
}

.menu li {
  display: inline;
  float: right;
  color: black;
  padding-right: 25px;
  /*background-color: #01b361;*/
  /*text-decoration: none;*/
}

.menu li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  /*background-color: rgba(51, 0, 255, 0.4);*/
  /*background-color: #01b361;*/
  color: #01b361;

}


.colorBlock {
  /*background-color: whitesmoke;*/
  display: block;
  padding: 25px;
}

.blockInfo {
  color: whitesmoke;
  width: 75%;
  margin: auto;
  /*text-align: center;*/
}

.name {
  font-size: calc(2vw + 2vh + 20px);
}


.block-title {
  font-size: calc(4vh + 15px);
  text-align: center;
}

.blockInfo p {
  text-align: center;
}

#head {
  text-align: center;
  padding: 20px;
  /*background-color: rgba(255, 26, 26, 0.1);*/
}

#head p {
  text-align: left;
  /*width: 70%;*/
  /*font-size: calc(.8vw + .8vh + 10px);*/
  margin: 0 auto;
}



.center {
  display: flex;
  justify-content: center;
}


.card {
  display: flex;
  position: relative;
  /*background-color: white;*/
  background-color: rgba(26, 26, 26, 0.8);
  /*background-color: rgba(38, 37, 36, 0.7);*/
  color: rgb(38, 37, 36);
  border-radius: 3px;
  /*box-shadow: 0px 0px 8px grey;*/
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  /*color: white;*/
}

.card code{
  font-weight: bold;
  color: #C3083F;
}

.card-info li {
  display: inline;
  /*float: left;*/
}

.card-image {
  display: block;
  border-radius: 10px;
  max-height: 400px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*float: right;*/
  /*box-shadow: 0px 0px 10px grey;*/
}

.card-title {
  font-family: 'Righteous', 'Helvetica', cursive;
  color: white;
  font-size: calc(20px + 2vh);
  text-decoration: none;
}

.card-title:hover {
  color: #01bd59
}

.card p {
  color: #bababc;
  font-size: 18px;
  text-align: left;
}

.source {
  display: block;
  /*text-align: center;*/
  margin-top: 15px;
  color: #01b361;
  text-decoration: none;
}

.col1 a:hover {
  color: #02d46b;
}

/*.card:after {*/
  /*content: "";*/
  /*display: table;*/
  /*clear: both;*/
/*}*/

.col1 .col2 {
  float: left;
  border: 1px solid white;
}

.col1 {
  width: 25%;
  /*background-color: white;*/
  margin-right: 50px;
}

.col2 {
  width: 75%;
  /*background-color: green;*/
}


.colors li{
  color: white;
  width: 140px;
  height: 40px;
  padding: 10px;
}

hr {
  border-color: #474B4F;
}


/* footer table */
.icon-table {
  display: table;
  /*text-align: center;*/
  margin: 50px auto 50px;
}

.icons {
  padding: 0;
}

.icons ul {
  list-style: none;
}

.icons li {
  /*padding: 0px 10px 10px 10px;*/
  padding: 10px;
  margin: auto;
  text-decoration: none;
  display: inline;
}

.icons li a {
  /*display: inline;*/
  color: white;
  /*text-decoration: none;*/
}

.icons li a:hover {
  /*background-color: rgba(51, 0, 255, 0.4);*/
  color: #01bd59;
}

#copyright {
  /*padding-top: 15px;*/
  font-size: small;
  color: lightgrey;
  text-align: center;
}


.skills {
  width: 65%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  /*background-color: darkslategray;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.skills ul {
  padding: 0;
}

.skills li {
  list-style: none;
}

.skills div {
  margin: 0 auto;
  /*float: left;*/
}


.button-list ul{
  text-align: center;
  padding-top: 20px;
}

.button-list a {
  text-decoration: none;
  background-color: #01b361;
  color: whitesmoke;
  box-shadow: 1px 1px 30px black;
  font-weight: bold;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.button-list a:hover {
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 1px 30px #01b361;
}

.button-list i {
  padding-right: 3px;
}


#background {
  background-color: #222629;
}
#white {
  background-color: whitesmoke;
}
#grey {
  background-color: #6b6e70;
}
#darkgrey {
  background-color: #474B4F;
}
#accent {
  background-color: #01b361;
}



/* for smaller screens */
@media screen and (max-width: 800px) {
  #head p {
    text-align: left;
    width: 100%;
    font-size: calc(.8vw + .8vh + 10px);
    margin: 0 auto;
  }

  #portfolio {
    width: 100%;
  }

  .card {
    margin: auto auto 15px;
    display: block;
  }

  .source {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .source:hover {
    /*color: #01d67a;*/
  }

  .col1 .col2 {
    /*display: block;*/
    /*float: left;*/
    /*border: 1px solid white;*/
  }

  .col1 {
    width: 100%;
    margin-right: 50px;
  }

  .col1 p {
    text-align: left;
  }

  .col2 {
    margin-top: 10px;
    width: 100%;
    /*background-color: green;*/
  }

  .skills {
    display: block;
  }

  .skills p {
    text-align: left;
  }

  .button-list li {
    display: block;
    margin: 20px;
  }

  .hide-mobile {
    display: none;
  }

}

/* for larger screens */
@media screen and (min-width: 801px) {
  #head p {
    text-align: left;
    width: 70%;
    font-size: calc(.8vw + .8vh + 10px);
    margin: 0 auto;
  }

  /*.hide-large {*/
    /*display: none;*/
  /*}*/
}
