

html, body, .col1, .col2 {
  height: 100%;
  /*margin-bottom: 200px;*/
}

body {
  margin: 0;
  /*height: 100%;*/
  font-family: 'Libre Baskerville', serif;
  background-color: black;
}



#header {
  margin: auto;
  /*width: 95%;*/
  /*background-color: rgba(255, 0, 0, 0.4);*/
}

#body {
  margin: auto;
  max-width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: rgba(0, 255, 0, 0.4);*/
}

#footer {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 100%;
  /*height: 200px;*/
  text-align: center;
  color: whitesmoke;
  /*background-color: rgba(119,119,119,0.4);*/
}

#copyright {
  padding-top: 15px;
  font-size: x-small;
  color: lightgrey;
}

/* Main Menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: red;*/
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgba(51, 0, 255, 0.4);
}

.icon-table {
  display: table;
  margin: 50px auto 50px;
}

.icons ul {
  list-style: none;
}

.icons li {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline;
}

.icons li a {
  /*display: inline;*/
  color: white;
  /*text-decoration: none;*/
}

.icons li a:hover {
  /*background-color: rgba(51, 0, 255, 0.4);*/
  color: #01bd59;
}

.title {
  /*text-align: center;*/
  color: whitesmoke;
  font-size: 6vh;
  font-weight: 100;
}

/* Allow padding without columns stacking */
* {
  box-sizing: border-box;
}



.col1, .col2 {
  float: left;
  padding: 25px;
}

.col1 {
  width: 30%;
  color: white;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  /*position: fixed;*/
}

.col2 {
  width: 70%;
  /*background-color: lightgray;*/
  /*background-color: rgba(255, 255, 255, 0.3);*/
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.card {
  background-color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 20px 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px grey;
  margin-top: 20px;
  margin-bottom: 30px;
  /*color: white;*/
}

.center a {
  color: darkgray;
}

.card-image {
  display: block;
  border-radius: 10px;
  max-height: 400px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 0px 10px grey;*/
}

.languages {
  color: darkslategray;
  text-align: center;
}

#portfolio-title {
  color: white;
  text-align: center;
  font-size: 5vh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #01bd59;
}

/* parent to center the button */
.center {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-size: 20px;
  background-color: #01bd59;
  color: white;
}

.button:hover {
  background-color: #01b361;
  color: white;
}

/* for smaller screens */
@media screen and (max-width: 600px) {
  .col1, .col2 {
    width: 100%;
  }
}

/* for larger screens */
@media screen and (min-width: 601px) {
  .row {
    display: flex;
  }
  .col1 {
    overflow: auto;
    position: fixed;
  }
  .col2 {
    overflow: auto;
    margin-left: 33%;
  }
}

